@import url("https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Josefin+Sans&family=Lexend+Deca&family=Livvic&display=swap");

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/*      Theme colors        */
	--text-gray: #3f4954;
	--text-light: #686666da;
	--bg-color: #0f0f0f;
	--white: #ffffff;
	--midnight: #a1c4cf;

	/* gradient color   */
	--sky: linear-gradient(-225deg, #7de2fc 0%, #b9b6e5 100%);

	/*      theme font-family   */
	--Abel: "Abel", sans-serif;
	--Anton: "Anton", sans-serif;
	--Josefin: "Josefin Sans", sans-serif;
	--Lexend: "Lexend Deca", sans-serif;
	--Livvic: "Livvic", sans-serif;
}

%flex {
	display: flex;
	align-items: center;
}

@mixin flexCenter {
	@extend %flex;
	justify-content: center;
	flex-direction: column;
}

@mixin mq($size) {
	@media only screen and (max-width: $size) {
		@content;
	}
}

/* ---------------- Global Classes ---------------*/

a {
	text-decoration: none;
	color: var(--text-gray);
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

ul {
	list-style-type: none;
}

h1 {
	font-family: var(--Lexend);
	font-size: 2.5rem;
}

h2 {
	font-family: var(--Lexend);
}

h3 {
	font-family: var(--Abel);
	font-size: 1.3rem;
}

button.btn {
	border: none;
	border-radius: 2rem;
	padding: 1rem 3rem;
	font-size: 1rem;
	font-family: var(--Livvic);
	cursor: pointer;
}

span {
	font-family: var(--Abel);
}

.container {
	margin: 0 5vw;
}

.text-gray {
	color: var(--text-gray);
}

p {
	font-family: var(--Lexend);
	color: var(--text-light);
}

img {
	object-fit: cover;
}

.text-center {
	text-align: center;
}

.is-hidden {
	display: none;
}

.point {
	cursor: pointer;
}

.no-click {
	pointer-events: none;
}

/* ------x------- Global Classes -------x-------*/

/*              Viewport less then or equal to 2560px            */

@media only screen and (max-width: 2560px) {
	.nav {
		min-height: 10vh;
	}

	.blog {
		height: 110vh;
	}

	.site-content .post-content .post-image img {
		width: 100%;
	}
}

/*        X     Viewport less then or equal to 2560px      X     */

/*              Viewport less then or equal to 1440px            */

@media only screen and (max-width: 1440px) {
	.nav {
		min-height: 12vh;
	}

	.blog {
		height: 180vh;
	}
}

/*        X     Viewport less then or equal to 1440px      X     */

/*              Viewport less then or equal to 1130px            */

@media only screen and (max-width: 1130px) {
	.nav {
		min-height: 12vh;
	}

	.blog {
		height: 170vh;
	}

	.site-content {
		.post-content > .post-image .post-info {
			left: 2rem !important;
			bottom: 1.2rem !important;
			border-radius: 0 !important;
		}

		.sidebar .other-posts .post-info {
			display: none !important;
		}

		.youtube-items {
			grid-template-columns: repeat(2, 1fr) !important;
		}

		.cycling-sites {
			height: 360px;
		}
	}

	footer .container {
		grid-template-columns: repeat(2, 1fr);
	}
}

/*      x       Viewport less then or equal to 1130px    x     */

/*              Viewport less then or equal to 750px            */

@media only screen and (max-width: 750px) {
	.nav {
		min-height: 9.5vh;

		.nav-menu,
		.nav-items {
			flex-direction: column;
		}

		.toggle-collapse {
			display: initial !important;
		}

		.nav-items .nav-link {
			&:hover {
				background-color: transparent !important;
				text-decoration: none !important;

				a {
					color: var(--text-gray) !important;
				}
			}
		}
	}

	.blog {
		height: 160vh;
	}

	.site-content {
		grid-template-columns: 100%;

		.youtube-items {
			grid-template-columns: repeat(1, 1fr) !important;
		}

		.cycling-sites {
			height: 260px;
		}
	}

	.search-wrapper {
		grid-template-columns: 100%;
	}

	footer .container {
		grid-template-columns: repeat(1, 1fr);
	}
}

/*        x      Viewport less then or equal to 750px       x     */

/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px) {
	.nav {
		min-height: 6.5vh;

		.toggle-collapse {
			width: 80% !important;

			.toggle-icons {
				margin: -0.7rem;
			}
		}

		.nav-items .nav-link {
			&:hover {
				background-color: transparent !important;
				text-decoration: none !important;

				a {
					color: var(--midnight) !important;
				}
			}
		}
	}

	.blog {
		height: 160vh;
	}

	.search-wrapper {
		.search-input {
			margin-right: 3.2rem;
		}
	}

	.site-content {
		.post-content {
			& > .post-image .post-info {
				display: none;
			}

			blockquote {
				font-size: 60px;
				margin-left: 1rem;
			}
		}

		.cycling-sites {
			height: 215px;
		}

		.two-grid {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	footer {
		.container > div {
			padding: 1rem 0.9rem !important;
		}

		.rights {
			padding: 0 1.4rem;
		}
	}
}

/*        x      Viewport less then or equal to 520px       x     */

/*              Viewport less then or equal to 320px            */

@media only screen and (max-width: 320px) {
	.site-content {
		.posts h1 {
			font-size: 1.5rem;
		}

		.post-content {
			blockquote {
				font-size: 40px;
			}
		}
	}

	.search-wrapper {
		.search-input {
			padding: 0.5rem;
			margin: 1.5rem 3rem 0 0;
		}
	}
}

/*        x      Viewport less then or equal to 320px       x     */
