@import url("https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Josefin+Sans&family=Lexend+Deca&family=Livvic&display=swap");

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/*      Theme colors        */
	--text-gray: #3f4954;
	--text-light: #686666da;
	--bg-color: #0f0f0f;
	--white: #ffffff;
	--midnight: #a1c4cf;

	/* gradient color   */
	--sky: linear-gradient(-225deg, #7de2fc 0%, #b9b6e5 100%);

	/*      theme font-family   */
	--Abel: "Abel", sans-serif;
	--Anton: "Anton", sans-serif;
	--Josefin: "Josefin Sans", sans-serif;
	--Lexend: "Lexend Deca", sans-serif;
	--Livvic: "Livvic", sans-serif;
}

/* ---------------- Global Classes ---------------*/

a {
	text-decoration: none;
	color: var(--text-gray);
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

ul {
	list-style-type: none;
}

h1 {
	font-family: var(--Lexend);
	font-size: 2.5rem;
}

h2 {
	font-family: var(--Lexend);
}

h3 {
	font-family: var(--Abel);
	font-size: 1.3rem;
}

button.btn {
	border: none;
	border-radius: 2rem;
	padding: 1rem 3rem;
	font-size: 1rem;
	font-family: var(--Livvic);
	cursor: pointer;
}

span {
	font-family: var(--Abel);
}

.container {
	margin: 0 5vw;
}

.text-gray {
	color: var(--text-gray);
}

p {
	font-family: var(--Lexend);
	color: var(--text-light);
}

img {
	object-fit: cover;
}

.text-center {
	text-align: center;
}

.is-hidden {
	display: none;
}

.point {
	cursor: pointer;
}

.no-click {
	pointer-events: none;
}

/* ------x------- Global Classes -------x-------*/

/* Fallback Icon */

/* x Fallback Icon x */

/* Preloader Section */

/* x Preloader Section x */

/* Navbar Section */

/* x Navbar Section */

/* Site Title */

.site-title {
	background: url("/assets/background.jpg");
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;

	img {
		border-radius: 50%;
		width: 250px;
		height: 250px;
		border: 2px solid #6caed5;
	}

	.site-background {
		padding-top: 10rem;
		color: var(--white);
	}

	h1,
	h3 {
		margin: 0.3rem;
	}
}

/* x Site Title x */

/* Featured Item */

.featured {
	width: 100%;
	display: grid;
	grid-template-columns: 100%;

	.item-container {
		overflow: hidden;
		padding-top: 50%;
		position: relative;

		.item {
			width: 100%;
			height: 100%;
			margin: auto;
			border: none;
			left: 0;
			position: absolute;
			top: 0;
		}
	}
}

/* x Featured Item */

/* Search */

.search-wrapper {
	width: 100%;
	display: grid;
	grid-template-columns: 70% 30%;
	position: absolute;

	.search-input {
		border-radius: 0;
		padding: 1rem;
		float: right;
		margin-top: 2rem;
		margin-right: 4rem;
		font-family: var(--Lexend);
		outline: none;
		border: solid 2px black;

		&:hover {
			border: solid 2px gray;
		}
	}
}

/* x Search */

/* Site Content */

.site-content {
	display: grid;
	grid-template-columns: 70% 30%;

	.post-content {
		width: 100%;

		& > .post-image,
		.post-title {
			padding: 1rem 2rem;
			position: relative;
		}

		& > .post-image .post-info {
			background: var(--sky);
			padding: 1rem;
			position: absolute;
			bottom: 0;
			left: 20vw;
			border-radius: 3rem;
		}

		& > .post-image > div {
			overflow: hidden;
		}

		& > .post-image .img {
			width: 100%;
			transition: all 1s ease;
		}

		& > .post-image .img:hover {
			transform: scale(1.3);
		}

		& > .post-image .post-info span {
			margin: 0 0.5rem;
		}

		.post-title {
			a {
				font-family: var(--Anton);
				font-size: 1.5rem;
			}

			.editing-title {
				font-family: var(--Lexend);
				color: var(--text-gray);
				font-size: 1.1rem;
			}

			.post-btn {
				border-radius: 0;
				padding: 0.7rem 1.5rem;
				background: var(--sky);
				outline: none;
			}
		}

		blockquote {
			text-indent: -0.45em;
			font-size: 80px;
			width: 95%;
			font-family: var(--Abel);
			quotes: "“" "”" "‘" "’";

			&::before {
				content: open-quote;
			}
		}

		@supports (hanging-punctuation: first) {
			.site-content .post-content blockquote {
				text-indent: 0;
				hanging-punctuation: first;
			}
		}
	}

	.pagination {
		justify-content: center;
		color: var(--text-gray);
		margin: 4rem 0;

		a {
			padding: 0.6rem 0.9rem;
			border-radius: 2rem;
			margin: 0 0.3rem;
			font-family: var(--Lexend);
		}

		.pages {
			background: var(--text-gray);
			color: var(--white);
		}
	}

	.picsart-list {
		font-family: var(--Lexend);
		list-style: initial;
		color: gray;
	}

	.two-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		.grid-item {
			display: grid;
		}

		.grid-image {
			width: 100%;
			height: 300px;
			object-fit: contain;
		}

		p {
			margin: 1rem auto;
		}
	}

	/* Sidebar */

	& > .sidebar {
		.category-list {
			font-family: var(--Livvic), "Verdana";

			.list-items {
				background: var(--sky);
				padding: 0.4rem 1rem;
				margin: 0.8rem 0;
				border-radius: 3rem;
				width: 70%;
				display: flex;
				justify-content: space-between;

				a {
					color: black;
				}
			}
		}

		.other-posts {
			.post-content {
				padding: 1rem 0;
			}

			h2 {
				padding-top: 8rem;
			}

			.post-info {
				padding: 0.4rem 0.1rem !important;
				bottom: 0 !important;
				left: 1.5rem !important;
				border-radius: 0 !important;
				background: white !important;
			}

			.post-title {
				a {
					font-size: 1rem;
				}

				.side-future {
					font-family: var(--Anton);
					font-weight: 100;
					font-size: 1rem;
					color: var(--text-gray);
					margin-top: 0;
				}
			}
		}
	}

	/* x Sidebar x */
}

.page-holder {
	padding: 20px 0;
}

/* x Site Content x */

/* Footer */

footer {
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url("/assets/background.jpg");
	position: relative;

	.container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);

		& > div {
			flex-grow: 1;
			flex-basis: 0;
			padding: 3rem 0.9rem;
		}

		h2 {
			color: var(--white);
		}
	}

	.instagram div > img {
		display: inline-block;
		width: 25%;
		height: 50%;
		margin: 0.3rem 0.4rem;
	}

	.follow div span {
		color: var(--white);
		padding: 0 0.4rem;

		&:hover {
			color: #a1c4cf;
		}
	}

	.rights {
		justify-content: center;
		font-family: var(--Josefin);

		h4 a {
			color: var(--white);
		}
	}

	.move-up {
		position: fixed;
		bottom: 5%;
		right: 1%;
		opacity: 0.3;
		z-index: 0;

		span {
			color: skyblue;
			font-size: 50px;

			&:hover {
				color: var(--midnight);
				cursor: pointer;
			}
		}
	}
}

/* x Footer x */

/* 404 */

.not-found-page {
	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.title {
		color: white;
	}

	.subtitle {
		text-decoration: underline;
		color: rgb(190, 190, 190);
	}
}

/* x 404 x */

/*              Viewport less then or equal to 2560px            */

@media only screen and (max-width: 2560px) {
	.nav {
		min-height: 10vh;
	}

	.blog {
		height: 110vh;
	}

	.site-content .post-content .post-image img {
		width: 100%;
	}
}

/*        X     Viewport less then or equal to 2560px      X     */

/*              Viewport less then or equal to 1440px            */

@media only screen and (max-width: 1440px) {
	.nav {
		min-height: 12vh;
	}

	.blog {
		height: 180vh;
	}
}

/*        X     Viewport less then or equal to 1440px      X     */

/*              Viewport less then or equal to 1130px            */

@media only screen and (max-width: 1130px) {
	.nav {
		min-height: 12vh;
	}

	.blog {
		height: 170vh;
	}

	.site-content {
		.post-content > .post-image .post-info {
			left: 2rem !important;
			bottom: 1.2rem !important;
			border-radius: 0 !important;
		}

		.sidebar .other-posts .post-info {
			display: none !important;
		}

		.youtube-items {
			grid-template-columns: repeat(2, 1fr) !important;
		}

		.cycling-sites {
			height: 360px;
		}
	}

	footer .container {
		grid-template-columns: repeat(2, 1fr);
	}
}

/*      x       Viewport less then or equal to 1130px    x     */

/*              Viewport less then or equal to 750px            */

@media only screen and (max-width: 750px) {
	.nav {
		min-height: 9.5vh;

		.nav-menu,
		.nav-items {
			flex-direction: column;
		}

		.toggle-collapse {
			display: initial !important;
		}

		.nav-items .nav-link {
			&:hover {
				background-color: transparent !important;
				text-decoration: none !important;

				a {
					color: var(--text-gray) !important;
				}
			}
		}
	}

	.blog {
		height: 160vh;
	}

	.site-content {
		grid-template-columns: 100%;

		.youtube-items {
			grid-template-columns: repeat(1, 1fr) !important;
		}

		.cycling-sites {
			height: 260px;
		}
	}

	.search-wrapper {
		grid-template-columns: 100%;
	}

	footer .container {
		grid-template-columns: repeat(1, 1fr);
	}
}

/*        x      Viewport less then or equal to 750px       x     */

/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px) {
	.nav {
		min-height: 6.5vh;

		.toggle-collapse {
			width: 80% !important;

			.toggle-icons {
				margin: -0.7rem;
			}
		}

		.nav-items .nav-link {
			&:hover {
				background-color: transparent !important;
				text-decoration: none !important;

				a {
					color: var(--midnight) !important;
				}
			}
		}
	}

	.blog {
		height: 160vh;
	}

	.search-wrapper {
		.search-input {
			margin-right: 3.2rem;
		}
	}

	.site-content {
		.post-content {
			& > .post-image .post-info {
				display: none;
			}

			blockquote {
				font-size: 60px;
				margin-left: 1rem;
			}
		}

		.cycling-sites {
			height: 215px;
		}

		.two-grid {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	footer {
		.container > div {
			padding: 1rem 0.9rem !important;
		}

		.rights {
			padding: 0 1.4rem;
		}
	}
}

/*        x      Viewport less then or equal to 520px       x     */

/*              Viewport less then or equal to 320px            */

@media only screen and (max-width: 320px) {
	.site-content {
		.posts h1 {
			font-size: 1.5rem;
		}

		.post-content {
			blockquote {
				font-size: 40px;
			}
		}
	}

	.search-wrapper {
		.search-input {
			padding: 0.5rem;
			margin: 1.5rem 3rem 0 0;
		}
	}
}

/*        x      Viewport less then or equal to 320px       x     */
