@import url("https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Josefin+Sans&family=Lexend+Deca&family=Livvic&ourier+Prime&display=swap");

/*      Theme colors        */
$text-gray: #3f4954;
$text-light: #686666da;
$bg-color: #0f0f0f;
$white: #ffffff;
$midnight: #a1c4cf;

/* gradient color   */
$sky: linear-gradient(-225deg, #7de2fc 0%, #b9b6e5 100%);

/*      theme font-family   */
$Abel: "Abel", sans-serif;
$Anton: "Anton", sans-serif;
$Josefin: "Josefin Sans", sans-serif;
$Lexend: "Lexend Deca", sans-serif;
$Livvic: "Livvic", sans-serif;

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

%flex {
	display: flex;
}

%point {
	cursor: pointer;
}

@mixin flexColCenter {
	@extend %flex;
	justify-content: center;
	flex-direction: column;
}

@mixin flexRowCenter {
	@extend %flex;
	justify-content: center;
}

@mixin flexAllRow {
	@extend %flex;
	justify-content: center;
	align-items: center;
}

@mixin flexAllCol {
	@extend %flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@mixin mq($size) {
	@media only screen and (max-width: $size) {
		@content;
	}
}

/* ---------------- Global Classes ---------------*/

a {
	text-decoration: none;
	color: $text-gray;
}

.flex-row {
	@extend %flex;
	flex-wrap: wrap;
}

ul {
	list-style-type: none;
}

h1 {
	font-family: $Lexend;
	font-size: 2.5rem;
}

h2 {
	font-family: $Lexend;
}

h3 {
	font-family: $Abel;
	font-size: 1.3rem;
}

button.btn {
	border: none;
	border-radius: 2rem;
	padding: 1rem 3rem;
	font-size: 1rem;
	font-family: $Livvic;
	@extend %point;
}

span {
	font-family: $Abel;
}

span.code {
	font-family: "Courier Prime", monospace;
}

.container {
	margin: 0 5vw;
}

.text-gray {
	color: $text-gray;
}

p {
	font-family: $Lexend;
	color: $text-light;
}

img {
	object-fit: cover;
}

.text-center {
	text-align: center;
}

.is-hidden {
	display: none;
}

.no-click {
	pointer-events: none;
}

/* ------x------- Global Classes -------x-------*/
