.site-content {
	& > .sidebar {
		.category-list {
			display: block;
			font-family: $Livvic;

			.list-items {
				background: $sky;
				padding: 0.4rem 1rem;
				margin: 0.8rem 0;
				border-radius: 3rem;
				width: 70%;
				@extend %flex;
				justify-content: space-between;

				a {
					color: black;
				}
			}
		}
	}
}
