.comment {
	position: relative;

	.underline {
		border-bottom: 1px solid rgba($color: $text-gray, $alpha: 0.2);
		width: calc(100% - 6rem);
		margin-left: 6rem;
		position: absolute;
		bottom: -1rem;
		transition: all 0.2s ease;
	}
}
