.wrapper {
	margin-top: 1rem;

	.comment {
		position: relative;
	}
}
.react-confirm-alert-overlay {
	background: none !important;
	justify-content: flex-end !important;
	align-items: flex-start !important;

	.confirm {
		border-radius: 1rem;
		border: solid 1px $midnight;
		padding: 2rem;
		background: $sky;
		opacity: 0.8;
		color: $white;

		.title {
			margin: 0;
		}
	}
}
