.comment {
	@include flexRowCenter;
	gap: 1rem;
	margin: 1rem 0;
	position: relative;

	.avatar {
		height: 5rem;
		width: 5rem;
		border-radius: 50%;
		object-fit: cover;
	}

	.group {
		margin: 0;

		.details {
			@extend %flex;
			align-items: center;
			gap: 1rem;
		}

		.author {
			font-family: $Anton;
			font-weight: normal;
			margin: 0 0 1rem 0;
		}

		.date {
			margin: 0 0 1rem 0;
			font-family: $Livvic;
			font-size: 0.7rem;
		}

		.text {
			margin: 0 0 1rem 0;
		}
	}

	.underline {
		border-bottom: 1px solid rgba($color: $text-gray, $alpha: 0.2);
		width: 100%;
		position: absolute;
		bottom: -0.5rem;
	}
}
