.comment-content {
	width: fit-content;
	&.zero {
		margin-left: 0 !important;
	}
	&.one {
		margin-left: 3.5rem !important;

		@include mq(500px) {
			margin-left: 2.5rem !important;
		}
	}
	&.two {
		margin-left: 7rem !important;

		@include mq(500px) {
			margin-left: 5rem !important;
		}
	}

	.comment-container {
		@include flexRowCenter;
		margin: 2rem 0 0 0;
		gap: 1rem;
		width: fit-content;

		&:hover ~ .actions {
			height: 3rem;
			opacity: 1;
			margin: -1.5rem 0 -1rem 3.5rem;
		}

		.avatar {
			height: 3rem;
			width: 3rem;
			border-radius: 50%;
			object-fit: cover;

			@include mq(500px) {
				height: 1.5rem;
				width: 1.5rem;
			}
		}

		.group {
			margin: 0;

			.details {
				@extend %flex;
				align-items: center;
				gap: 1rem;
			}

			.author {
				font-family: $Anton;
				font-weight: normal;
				margin: 0 0 1rem 0;
			}

			.date {
				margin: 0 0 1rem 0;
				font-family: $Livvic;
				font-size: 0.7rem;
			}

			.text {
				margin: 0 0 1rem 0;
			}
		}
	}
	.actions {
		@include flexAllRow;
		justify-content: flex-start;
		gap: 0.5rem;
		margin: -0.5rem 0 0 3.5rem;
		height: 0;
		opacity: 0;
		transition: all 0.5s ease;
		line-height: 0;

		&:hover {
			height: 3rem;
			opacity: 1;
			margin: -1.5rem 0 -1rem 3.5rem;
		}

		.like,
		.reply {
			cursor: pointer;
		}

		.reply {
			&:hover {
				opacity: 0.8;
			}
		}
	}

	.form-group {
		margin: 1rem 0 0.5rem 4rem;

		@include mq(750px) {
			width: 70%;
		}

		@include mq(500px) {
			width: 60%;
		}

		@include mq(320px) {
			width: 50%;
		}

		&.no-left {
			margin: 1rem 0 -1rem 4rem;
		}
	}
}
