$gray: rgb(143, 143, 143);

.loader {
	width: 100%;

	.box {
		width: 100%;
		height: 5rem;
		display: flex;
		gap: 1rem;
		animation: load 2s infinite alternate;

		@keyframes load {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}

		.profile {
			width: 3rem;
			height: 3rem;
			background: rgba($color: $gray, $alpha: 0.6);
			border-radius: 100%;
		}

		.bars {
			width: 100%;

			.bar {
				width: 100%;
				height: 0.5rem;
				background: rgba($color: $gray, $alpha: 0.4);
				margin-top: 0.5rem;
				border-radius: 2px;

				&.sm {
					width: 60%;
					background: rgba($color: $gray, $alpha: 0.2);
				}
			}
		}
	}
}
