.nav {
	background: $bg-color;
	padding: 0 2rem;
	height: 0;
	overflow: hidden;
	transition: height 0.5s ease-in-out;

	@include mq(2560px) {
		min-height: 10vh;
	}

	@include mq(1440px) {
		min-height: 12vh;
	}

	@include mq(750px) {
		min-height: 7.2vh;
	}

	@include mq(520px) {
		min-height: 5.7vh;
	}

	&.collapse {
		height: 25rem;
	}

	&.collapse-sm {
		height: 15rem;
	}

	.nav-menu {
		@extend %flex;
		align-items: center;
		justify-content: space-between;

		@include mq(750px) {
			flex-direction: column;
			align-items: flex-start;
			margin-top: 0.6rem;
		}

		@include mq(520px) {
			margin-top: 0.1rem;
		}

		.nav-brand {
			height: 100%;

			a {
				font-size: 1.6rem;
				display: inline-block;
				font-family: $Lexend;
				outline: 0;
			}
		}

		.toggle-collapse {
			position: absolute;
			top: 0;
			width: 90%;
			@extend %point;
			display: none;
			outline: 0;

			@include mq(750px) {
				display: initial;
			}

			@include mq(520px) {
				width: 80% !important;
			}

			.toggle-icons {
				display: inline-block;
				position: absolute;
				top: -0.3rem;
				right: 0;
				padding: 1.7rem 0;
				outline: 0;

				@include mq(520px) {
					margin: -0.7rem;
				}

				i {
					font-size: 1.4rem;
					color: $text-gray;
					outline: 0;
				}
			}
		}

		.nav-items {
			@extend %flex;
			margin: 0;

			@include mq(750px) {
				flex-direction: column;
				align-items: flex-start;
			}

			.nav-link {
				padding: 1.6rem 1rem;
				font-size: 1.1rem;
				position: relative;
				font-family: $Abel;

				@include mq(750px) {
					padding: 1.3rem 0;
				}

				&:hover {
					color: $midnight;
					transition: 0.5s;
					@extend %point;

					@include mq(750px) {
						background-color: transparent !important;
						text-decoration: none !important;
					}

					a {
						color: $white;

						@include mq(750px) {
							color: $midnight !important;
						}
					}
				}
			}
		}

		.social {
			padding: 1.4rem 0;

			span {
				padding: 0 0.2rem;

				&:hover {
					color: $midnight;
				}
			}
		}
	}
}
