.nav {
	background: white;
	padding: 0 2rem;
	height: 0;
	overflow: hidden;
	transition: height 0.5s ease-in-out;

	@include mq(2560px) {
		min-height: 10vh;
	}

	@include mq(1440px) {
		min-height: 12vh;
	}

	@include mq(750px) {
		min-height: 9.5vh;
	}

	@include mq(520px) {
		min-height: 6.5vh;
	}

	&.collapse {
		height: 25rem;
	}

	&.collapse-sm {
		height: 15rem;
	}

	.nav-menu {
		justify-content: space-between;

		@include mq(750px) {
			flex-direction: column;
		}
	}

	.toggle-collapse {
		position: absolute;
		top: 0;
		width: 90%;
		@extend %point;
		display: none;
		outline: 0;

		@include mq(750px) {
			display: initial !important;
		}

		@include mq(520px) {
			width: 80% !important;
		}

		.toggle-icons {
			display: inline-block;
			position: absolute;
			top: -0.3rem;
			right: 0;
			padding: 1.7rem 0;
			outline: 0;

			@include mq(520px) {
				margin: -0.7rem;
			}

			i {
				font-size: 1.4rem;
				color: $text-gray;
				outline: 0;
			}
		}
	}

	.nav-items {
		@extend %flex;
		margin: 0;

		@include mq(750px) {
			flex-direction: column;
		}

		.nav-link {
			padding: 1.6rem 1rem;
			font-size: 1.1rem;
			position: relative;
			font-family: $Abel;

			&:hover {
				color: $midnight;
				transition: 0.5s;
				@extend %point;

				@include mq(750px) {
					background-color: transparent !important;
					text-decoration: none !important;
				}

				a {
					color: $white;

					@include mq(750px) {
						color: $midnight !important;
					}
				}
			}
		}
	}

	.nav-brand a {
		font-size: 1.6rem;
		padding: 0.5rem 0;
		display: inline-block;
		font-family: $Lexend, "Verdana";
		outline: 0;
	}

	.social {
		padding: 1.4rem 0;

		span {
			padding: 0 0.2rem;

			&:hover {
				color: $midnight;
			}
		}
	}
}
