.pagination,
ul {
	@include flexAllRow;
	font-family: $Lexend;
	gap: 1rem;

	ul {
		margin: 0;
		padding: 0;

		li {
			cursor: pointer;
		}

		li:not(:first-child):not(:last-child) {
			@include flexAllRow;
			padding: 0.7rem;
			border-radius: 50%;
			height: 1rem;
			width: 1rem;
			background: rgba($color: #333, $alpha: 0.1);

			&:hover {
				opacity: 0.6;
			}
		}
	}
}
