.search-wrapper {
	width: 100%;
	display: grid;
	grid-template-columns: 70% 30%;
	position: absolute;

	@include mq(750px) {
		grid-template-columns: 100%;
	}

	.search-input {
		border-radius: 0;
		padding: 1rem;
		float: right;
		margin-top: 2rem;
		margin-right: 4rem;
		font-family: $Lexend;
		outline: none;
		border: solid 2px black;
		background: none;

		@include mq(520px) {
			margin-right: 3.2rem;
		}

		@include mq(320px) {
			padding: 0.5rem;
			margin: 1.5rem 3rem 0 0;
		}

		&:hover {
			border: solid 2px gray;
		}
	}
}
