.site-content {
	.other-posts {
		.post-content {
			padding: 1rem 0;
		}

		h2 {
			padding-top: 8rem;
		}

		.post-info {
			padding: 0.4rem 0.1rem !important;
			bottom: 0 !important;
			left: 1.5rem !important;
			border-radius: 0 !important;
			background: white !important;

			@include mq(1130px) {
				display: none !important;
			}
		}

		.post-title {
			a {
				font-size: 1rem;
			}

			.side-future {
				font-family: $Anton;
				font-weight: 100;
				font-size: 1rem;
				color: $text-gray;
				margin-top: 0;
			}
		}
	}
}
