.site-content {
	& > .sidebar {
		.category-list {
			font-family: var(--Livvic), "Verdana";

			.list-items {
				background: var(--sky);
				padding: 0.4rem 1rem;
				margin: 0.8rem 0;
				border-radius: 3rem;
				width: 70%;
				display: flex;
				justify-content: space-between;

				a {
					color: black;
				}
			}
		}

		.other-posts {
			.post-content {
				padding: 1rem 0;
			}

			h2 {
				padding-top: 8rem;
			}

			.post-info {
				padding: 0.4rem 0.1rem !important;
				bottom: 0 !important;
				left: 1.5rem !important;
				border-radius: 0 !important;
				background: white !important;
			}

			.post-title {
				a {
					font-size: 1rem;
				}

				.side-future {
					font-family: var(--Anton);
					font-weight: 100;
					font-size: 1rem;
					color: var(--text-gray);
					margin-top: 0;
				}
			}
		}
	}
}
